h1 {
    color: #FFE4C4;
    font-family: "Impact";
    font-size: 200%;
}

h2 {
    color: #FFE4C4;
}

p {
    color: #FFE4C4;
    font-size: 130%;
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    background-color: #694204;
    border: 5px dotted yellow;
}

#output {
    color: #FFE4C4;
    font-size: 130%;
    text-indent: 20px;
    margin-left: 10px;
}

#activate {
  border:none;
  background-color: saddlebrown;
  border-radius: 12px;
  font-size: 20px;
  margin-left: 10px;
  color: #FFE4C4;
}
